/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
.form-module
  display: block!important
  margin-top: 1em!important

.btn-creat
  margin-top: 1em

.icon-creat
  font-size: 20
  margin-right: 0.5em

.cancel
  margin-left: 0.5em!important