/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */

//Gère le container de 1 module
.card-module
  width: 300px
  &:nth-child(3n+1)
    margin-left: 2em
  &:nth-child(5n+1)
    margin-right: 2em

//Gère les buttons pour edit et supprimer un module
.icon
  float: right!important

//Gère l'affichage du nombre de leçon
.lessons
  color: #9C27B0!important

.form-edit
  display: block!important
  margin-bottom: 0.5em!important


